.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px #161b21;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .option{
      width: 100%;
      margin: 1%
  }
  .posts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
 .card{
  width: 30%;
  margin: 1% 0 5% 0;
  border: 1px solid #161b21;
 }
 .card-body{
  font-family: 'Rowdies', cursive;
 }