.landing{
    justify-content: space-between;
    font-family: 'Rowdies', cursive;
    text-align: center;
    background-color: #F4a950;
    height: 91vh;
    width: 100%;
}
.landing-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #161b21;
}

.btn{
    margin: 1em;
    background-color: #161b21;
    color: #F4a950
}
.landing.btn:hover{
    color: #D2302C
}